# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
backend/venv/

# Environment variables
.env

# VS Code
.vscode/

# Node / React
node_modules/
dist/

# SQLite database to be removed later after database is finished setting up 
*.db